<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "business card improved"
        version     = "1.0.0" >

    <name>businesCard imp</name>
    <description>My business card improved</description>
    <author href="http://saldev.pl" email="mateusz.salawa@gmail.com">
		Mateusz Salawa
	</author>
	<platform name="android" />
	<icon src="res/icon.png" platform="android" width="180" height="180" />
    
    
	<plugin name="cordova-plugin-device" spec="~1.1.4" />
	<plugin name="cordova-plugin-dialogs" spec="~1.3.1" />
	<plugin name="cordova-plugin-inappbrowser" spec="~1.6.1" />
    <plugin name="cordova-plugin-splashscreen" spec="~4.0.2" />
        
        <splash src="res/screen/splash.png" platform="android" width="480" height="640" />
        <preference name="SplashScreen" value="screen"/>
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="FadeSplashScreen" value="true"/>    
         <preference name="FadeSplashScreenDuration" value="500"/>
</widget>