<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "business card improved"
        version     = "1.0.0" >

    <name>businesCard imp</name>
    <description>My business card improved</description>
    <author href="http://saldev.pl" email="mateusz.salawa@gmail.com">
		Mateusz Salawa
	</author>
	<platform name="android" />
	<icon src="icon.png" platform="android" width="180" height="180" />
    <splash src="/www/img/splash.jpg" />    
	<plugin name="cordova-plugin-device" spec="~1.1.4" />
	<plugin name="cordova-plugin-dialogs" spec="~1.3.1" />
	<plugin name="cordova-plugin-inappbrowser" spec="~1.6.1" />
</widget>